    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambrosia | Status Made Simple</title>
    <link rel="stylesheet" href="assets/css/tailwind.css">
    <script src="./node_modules/preline/dist/preline.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>